ass

#packagefile
*.war
*.ear

#kdiff3
*.orig

#maven
target/

#eclipse
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tempfile
*.log
*.cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs.db
